<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Masterapp"
        tools:targetApi="31">
        <activity
            android:name=".multiactivityformnew"
            android:exported="false" />
        <activity
            android:name=".multiactivityform"
            android:exported="false" />
        <activity
            android:name=".calculator"
            android:exported="false" />
        <activity
            android:name=".formval"
            android:exported="false" />
        <activity
            android:name=".sumcalc"
            android:exported="false" />
        <activity
            android:name=".lifecycle"
            android:exported="false" />
        <activity
            android:name=".toasts"
            android:exported="false" />
        <activity
            android:name=".helloworld"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>